@use "../../../../assets/scss/mixins";
@use "../../../../assets/scss/variables/media-queries";

@import "../../../../assets/scss/mixins";
.navbar_list {
    height: 55px;
    max-height: 55px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    overflow-x: scroll;
    display: flex;
    text-decoration: none;
    text-transform: none;
    min-width: 490px;
    @include mixins.custom_scrollbar(var(--black) var(--casperWhite));

    &::-webkit-scrollbar {
        width: 8px;
        height: 4px;
    }

    > .listWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        gap: 25px;
        width: fit-content;
    }

    .navbar_list_container {
        position: relative;
        width: 100%;
        .navbar_list_container_button {
            position: relative;

            .navbar_list_item {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 6px;
                padding: 0;
                cursor: pointer;
                background-color: transparent;
                color: var(--casperWhite);
                border: 0;

                > span {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    text-wrap: nowrap;
                }

                > svg {
                    width: 12px;
                    height: 12px;
                    transition: transform 0.15s ease;

                    path {
                        fill: var(--casperWhite);
                    }
                }

                &.isActive {
                    @include mixins.transition(0.3s all);
                    color: var(--casperRed);

                    > svg {
                        path {
                            @include mixins.transition(0.3s all);
                            fill: var(--casperRed);
                        }

                        transform: rotate(180deg);
                    }
                }
            }

            &:hover {
                .navbar_list_item {
                    @include mixins.transition(0.3s all);
                    color: var(--casperRed);
                }

                svg {
                    path {
                        @include mixins.transition(0.3s all);
                        fill: var(--casperRed);
                    }
                }
            }

            &:not(:hover) {
                .navbar_list_item {
                    @include mixins.transition(calc(var(--transition-time) * 2) all);
                }

                svg {
                    path {
                        @include mixins.transition(calc(var(--transition-time) * 2) all);
                    }
                }
            }
        }
    }
}

@media #{media-queries.$mobile} {
    .navbar_list {
        min-width: 200px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        height: unset;
        max-height: unset;

        > .listWrapper {
            flex-direction: column;
            margin: unset;
            align-items: flex-start;
        }
        .navbar_list_container {
            .navbar_list_container_button {
                width: 100%;

                .navbar_list_item {
                    width: 100%;
                    background-color: var(--liftedBlack);
                    z-index: 5;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .navbar_list {
        min-width: unset;
    }
}
